<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Forgot password</h1>
    <% if (typeof error !== 'undefined') { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/api/auth/forgotpassword" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <br>
       
        <button type="submit">Send Mail</button>
    </form>
  
</body>
</html>